<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">

<title>Homepage</title>
<link rel="icon" href="favicon.png" type="image/png">
<link rel="shortcut icon" href="favicon.ico" type="img/x-icon">

<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>


<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet" type="text/css">



<!--[if IE]><style type="text/css">.pie {behavior:url(PIE.htc);}</style><![endif]-->

<script src="{{ url_for('static', filename='js/jquery.1.8.3.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery-scrolltofixed.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.isotope.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/wow.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/classie.js') }}" type="text/javascript"></script>
<script src="contactform/contactform.js"></script>
<script src="{{ url_for('static', filename='contactform/contactform.js') }}" type="text/javascript"></script>
<!-- =======================================================
    Theme Name: Knight
    Theme URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
======================================================= -->

</head>
<body>
<header class="header" id="header"><!--header-start-->
	<div class="container">
    	<figure class="logo animated fadeInDown delay-07s">
        	<a href="#"><img src="{{url_for('static',filename = 'img/logo.png')}}" alt="" /></a>
        </figure>	
        <h1 class="animated fadeInDown delay-07s">Welcome To TSC Homepage</h1>
        <ul class="we-create animated fadeInUp delay-1s">
        	<li>We are future data scientist working on our passion.</li>
        </ul>
            <a class="link animated fadeInUp delay-1s servicelink" href="#service">Get Started</a>
    </div>
</header><!--header-end-->

<nav class="main-nav-outer" id="test"><!--main-nav-start-->
	<div class="container">
        <ul class="main-nav">
            <li><a href="#Portfolio"></a></li>
        	<li><a href="#header">Home</a></li>
            <li><a href="#service">About</a></li>
            <li class="small-logo" ><a href="#header"><img width=70 src="{{url_for('static',filename = 'img/small-logo.png')}}" alt="" /></a></li>
            <li><a href="#client">Clients</a></li>
            <li><a href="#team">Team</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
    </div>
</nav><!--main-nav-end-->



<section class="main-section" id="service"><!--main-section-start-->
	<div class="container">
    	<h2>About TSC</h2>
    	<h6>Traffic Sign Recognition system using Machine Learning</h6>
        <div class="row">
        	<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
            	<div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-lightbulb-o"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Problem Statement</h3>
                        <p>To develop an website/portal to detect the traffic signs by the vehicle.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-gear"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Technology Used</h3>
                        <p>Used keras and numpy library and deployed in Flask server.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-database"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Dataset</h3>
                        <p>More than 50,000 single image, multi class data.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-medkit"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Realibility</h3>
                        <p>Our model has over 90% accuracy rate.</p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                <img src="{{url_for('static',filename = 'img/tsc1.png')}}" alt="" />
            </figure>
        </div>
	</div>
</section><!--main-section-end-->



<section class="main-section alabaster"><!--main-section alabaster-start-->
	<div class="container">
    	<div class="row">
			<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
                <img src="{{url_for('static', filename='img/tsc3.png')}}" alt=""/>

            </figure>
        	<div class="col-lg-7 col-sm-8 featured-work">
            	<h2>Test the model here:</h2>
                    
                    <form action="{{url_for('after')}}" method='POST' enctype='multipart/form-data'>
                        <div class="upload-btn-wrapper">
                        <label  style="color:white">Select Image file:</label>
                        <input type="file" name='file1'>
                         </div>
                        <br><br>
                        <input type="submit" name="btn" value='predict caption' class='transparent_btn'>
                    </form>
                    <br><br>
                    <img src="{{url_for('static', filename='file.jpg')}}"  height=100px>
                    <br><br>
                    <h2>{{jasmin}}</h2>


                <a class="Learn-More" href="#">Learn More</a>
            </div>
        </div>
	</div>
</section><!--main-section alabaster-end-->





<section class="main-section client-part" id="client"><!--main-section client-part-start-->
	<div class="container">
		<b class="quote-right wow fadeInDown delay-03"><i class="fa-quote-right"></i></b>
    	<div class="row">
        	<div class="col-lg-12">
            	<p class="client-part-haead wow fadeInDown delay-05">Traffic Sign Recognition is a great software and machine learning model which will further amplify needs of next gen driverless car system</p>
            </div>
        </div>
    	<ul class="client wow fadeIn delay-05s">
        	<li><a href="#">
                <img src="{{url_for('static',filename = 'img/tsc4.jpg')}}" alt="" />
                <h3>Elon Musk</h3>
                <span>Tesla, Inc</span>
            </a></li>
        </ul>
    </div>
</section><!--main-section client-part-end-->
<section class="main-section team" id="team"><!--main-section team-start-->
	<div class="container">
        <h2>team</h2>
        <h6>Take a closer look into our amazing team. We won’t bite.</h6>
        <div class="team-leader-block clearfix">

            <div class="team-leader-block clearfix">

            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="{{url_for('static',filename = 'img/final - Jasmin.jpg')}}" alt="" />
                </div>
                <h3 class="wow fadeInDown delay-03s">Jasmin Patel</h3>
                <span class="wow fadeInDown delay-03s">18DCS069</span>
            </div>


            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="{{url_for('static',filename = 'img/final-kaivel.jpg')}}" alt="" />
                </div>
                <h3 class="wow fadeInDown delay-06s">Kaivel Patel</h3>
                <span class="wow fadeInDown delay-06s">18DCS071</span>
            </div>


            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="{{url_for('static',filename = 'img/final-namra.jpg')}}" alt="" />
                </div>
                <h3 class="wow fadeInDown delay-09s">Namra Solanki</h3>
                <span class="wow fadeInDown delay-09s">18DCS120</span>
            </div>
    </div>
</section><!--main-section team-end-->




<footer class="footer">
    <div class="container">
        <div class="footer-logo"><img src="{{url_for('static',filename = 'img/footer-logo.png')}}" alt="" /></a></div>
        <span class="copyright">&copy; Traffic Sign Reco. All Rights Reserved</span>
        <div class="credits">
            <!--
                All the links in the footer should remain intact. 
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Knight
            -->
           </div>
    </div>
</footer>


<script type="text/javascript">
    $(document).ready(function(e) {
        $('#test').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false    
            
        });
        
    });
</script>

  <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();
  </script>


<script type="text/javascript">
	$(window).load(function(){
		
		$('.main-nav li a, .servicelink').bind('click',function(event){
			var $anchor = $(this);
			
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top - 102
			}, 1500,'easeInOutExpo');
			/*
			if you don't want to use the easing effects:
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top
			}, 1000);
			*/
      if ($(window).width() < 768 ) { 
        $('.main-nav').hide(); 
      }
			event.preventDefault();
		});
	})
</script>

<script type="text/javascript">

$(window).load(function(){
  
  
  var $container = $('.portfolioContainer'),
      $body = $('body'),
      colW = 375,
      columns = null;

  
  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });
  
  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
        .isotope('reLayout');
    }
    
  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
			
            filter: selector,
         });
         return false;
    });
  
});

</script>

</body>
</html>